<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <br>
      <br>
      <h3>
        <i>Featured!</i>
      </h3>
      <div class="title-bar orange"></div>
      <img-slider></img-slider>

      <br>
      <br>
      <br>
      <br>
      <br>
      <h3>
        <i>Articles</i>
      </h3>
      <div class="title-bar red"></div>
      <br>
      <article></article>
      <br>
      <br>
    </div>
    <div class="col-sm-6">
      <br>
      <br>
      <h3>
        <i>Popular!</i>
      </h3>
      <div class="title-bar purple"></div>
      <br>
      <img-scroller></img-scroller>

    </div>
  </div>
  <br>
  <h3>
    <i>Join Us</i>
  </h3>
  <div class="title-bar blue"></div>
  <br>
  <features></features>
  <div class="row">
    <div class="col-sm-6">
      <br>
      <br>
      <br>
      <h3>
        <i>Latest Trailers!</i>
      </h3>
      <div class="title-bar green"></div>
      <br>
      <br>
      <videos></videos>
    </div>
    <div class="col-sm-6">

    </div>
  </div>
</div>
