<div class="row">
  <div class="col-sm-4">
    <div class="round">
      <img class="img-responsive" src="./assets/img/globe.png" alt="community">
    </div>
    <h3>
      <i>Community</i>
    </h3>
  </div>
  <div class="col-sm-4">
    <div class="round">
      <img class="img-responsive" src="./assets/img/chat.png" alt="chat">
    </div>
    <h3>
      <i>Forums</i>
    </h3>
  </div>
  <div class="col-sm-4">
    <div class="round">
      <img class="img-responsive" src="./assets/img/team.png" alt="team">
    </div>
    <h3>
      <i>Partners</i>
    </h3>
  </div>
</div>
