#form1 {
  max-width: 600px;
  margin: auto;
  padding: 16px;
  border-radius: 4px;
  background-color: #232323;
  color: grey;
}

#email {
  border: none;
}

img {
  margin: auto;
}

.input-group-addon {
  border: none;
}

input {
  background-color: #302f2f;
}

.sent {
  text-align: center;
}

.fa-mail-forward {
  color: grey;
  font-size: 70px;
  text-align: center;
}

textarea {
  border: none;
  resize: none;
  background-color: #302f2f;
}

.btn-default {
  background-color: grey;
  color: black;
  border: none;
}

.btn-default:hover {
  background-color: #607D8B;
  color: white;
}

h2 {
  text-align: center;
  color: grey;
}

h4 {
  color: grey;
}

.glyphicon-user {
  color: teal;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}
