#wallpaper {
  width: 740px;
  height: auto;
  margin: auto;
  border: 5px solid #232323;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.75);
}

.btn {
  background-color: #232323;
  color: #cc3e4a;
  margin-left: 23%;
  margin-top: 25px;
  border: none;
  &:hover {
    color: grey;
  }
}

.thumbnail {
  background-color: #302f2f;
  border: none;
  width: 70%;
  margin: auto;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.75);
  margin-top: 10px;
}

.animate {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

hr {
  border-color: grey;
}

@media screen and (max-width: 500px) {
  #wallpaper {
    height: 240px;
  }
  .btn {
    margin-left: 14px;
  }
}

@media screen and (max-width: 350px) {
  #wallpaper {
    height: 170px;
  }
  .btn {
    margin-left: 14px;
  }
}
