#wallpaper {
  width: 740px;
  height: 380px;
  margin: auto;
  border: 5px solid #f4f3f2;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.75);
}

.btn {
  background-color: #26A69A;
  color: white;
  margin-left: 25%;
  margin-top: 13px;
  border: none;
}

.btn:hover {
  background-color: #00897B;
}

.animate {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

@media screen and (max-width: 500px) {
  #wallpaper {
    height: 240px;
  }
  .btn {
    margin-left: 14px;
  }
  #style-1 {
    height: 300px;
    width: 300px;
    margin: auto;
  }
}

@media screen and (max-width: 350px) {
  #wallpaper {
    height: 170px;
  }
  .btn {
    margin-left: 14px;
  }
  #style-1 {
    height: 200px;
    width: 200px;
    margin: auto;
  }
}
