<nav class="navbar">
  <div class="container-fluid">
    <ul class="nav">
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/categories" routerLinkActive="active">Categories</a>
      </li>
      <li>
        <a routerLink="/latest" routerLinkActive="active">Latest</a>
      </li>
      <li>
        <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
      </li>
    </ul>
    <form class="navbar-form">
      <div class="input-group">
        <input type="text" class="form-control" id="nav-search" [(ngModel)]="ser" [ngModelOptions]="{standalone: true}" placeholder=" Search" autocomplete="off">
        <div class="dropdown-content">
          <div *ngFor="let link of links  | search: ser">
            <a class="link" [routerLink]="[link]">{{link}}</a>
          </div>
        </div>

      </div>
    </form>
  </div>
</nav>

<div class="mobile-nav">
  <ul  class="display: flex">
    <li style="width: 19%">
      <div class="container" (click)="show()" [ngClass]="{ change: visible }">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </li>
    <li style="width:81%"><input type="text" id="search-bar" class="form-control" placeholder=" search" [(ngModel)]="ser1" [ngModelOptions]="{standalone: true}"  autocomplete="off"></li>
  </ul>
  <ul class="list" [ngClass]="{ slide: visible }">
    <li>
      <b>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </b>
    </li>
    <li>
      <b>
        <a routerLink="/categories" routerLinkActive="active">Categories</a>
      </b>
    </li>
    <li>
      <b>
        <a routerLink="/latest" routerLinkActive="active">Latest</a>
      </b>
    </li>
    <li>
      <b>
        <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
      </b>
    </li>
  </ul>
</div>
<div class="dropdown-content two">
  <div *ngFor="let link of links | search: ser1">
    <a [routerLink]="[link]">{{link}}</a>
  </div>
</div>
