.container-fluid {
  padding: 2%;
}

.img-responsive {
  border: 5px solid #232323;
  cursor: pointer;
  -webkit-box-shadow: -4px 6px 45px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 6px 45px -14px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 6px 45px -14px rgba(0, 0, 0, 0.75);
}

.img-responsive:hover {
  border: 5px solid lightgreen;
}

.report-img {
  margin-top: 16px;
  color: #2962ff !important;
  float: right;
  cursor: pointer;
}

.container-fluid {
  height: 100%
}

.img-card {
  max-width: 500px;
  max-height: 350px;
  margin: auto;
}

h3 {
  color: grey;
  text-align: center;
}
