.holder {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 1.5em;
  -moz-column-gap: 1.5em;
  column-gap: 1.5em;
}

.feature-card {
  cursor: pointer;
  margin-bottom: 1em;
  break-inside: avoid-column;
  -webkit-break-inside: avoid-column;
  border-radius: .6em;
  background-color: #232323;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(20, 7, 20, 1);
  -moz-box-shadow: 0px 0px 9px 1px rgba(20, 7, 20, 1);
  box-shadow: 0px 0px 9px 1px rgba(20, 7, 20, 1);
  &:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    opacity: .8;
    border: .14em solid #FF0266;
  }
  img {
    max-height: 12em;
    border-top-right-radius: .6em;
    border-top-left-radius: .6em;
    width: 100%;
  }
  p {
    color: grey;
  }
  span {
    color: grey;
    font-size: 1.15em;
  }
  .fa {
    color: red;
    font-size: 1.15em;
  }
  h4 {
    color: grey;
  }
  .details {
    padding: .4em;
  }
}
