<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <br>
      <div class="communities-nav">
        <button type="button" class="btn">
          <i class="fa fa-star"></i>
          Featured</button>
        <button type="button" class="btn">
          <i class="fa fa-clock-o"></i>
          Latest</button>
        <button type="button" class="btn">
          <i class="fa fa-thumbs-up"></i>
          Joined</button>
      </div>
    </div>
    <div class="col-sm-3">

    </div>
  </div>
  <router-outlet></router-outlet>
</div>
