<div class="container-fluid">
  <div *ngFor="let v of videos">
    <div class="vidcontainer">
      <div class="row">
        <div class="col-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe [src]=" v.url | safe" class="embed-responsive-item" frameborder="0" border="0">
              <p>Sorry your browser does not support iframes</p>
            </iframe>
          </div>
          <br>
        </div>
        <div class="col-6">
          <h3 style="margin-top:-3px;">{{v.name}}</h3>
          <p style="color:grey">
            <b>release date: {{v.date}}</b>
          </p>

          <div class="row">
            <div class="col-sm-4">
              <b style="color:grey">Popularity:</b>
            </div>
            <div class="col-sm-8">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" [style.width]="v.interest">
                {{v.interest}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
