<div class="container-fluid">
  <br>
  <div class="container">
    <div class="col-8">
      <img [src]="loginCredentials.user.photoUrl" class="img-fluid" alt="Cinque Terre">
      <h3>{{loginCredentials.user.name}} 
        <i *ngIf="loginCredentials.user.provider == 'FACEBOOK'"class="fa fa-facebook-square"></i>
        <i *ngIf="loginCredentials.user.provider == 'GOOGLE'"class="fa fa-google"></i>
      </h3>
    </div>
    <div class="col-4">

    </div>
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item" routerLink="/profile/info" routerLinkActive="active-link">
        <a class="nav-link">Info
          <i class="fa fa-info-circle"></i>
        </a>
      </li>
      <li class="nav-item" routerLink="/profile/images" routerLinkActive="active-link">
        <a class="nav-link">Images</a>
      </li>
      <li class="nav-item" routerLink="/profile/analytics" routerLinkActive="active-link">
        <a class="nav-link">Analytics
          <i class="fa fa-chart-line"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">connections</a>
      </li>
    </ul>
    <br>
    <router-outlet></router-outlet>
  </div>
</div>
