<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
      <div [style.display]="display">
        <div>
          <img [src]="imglink" alt="wallpaper" [ngClass]="['img-fluid', 'animate']" id="wallpaper">
          <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-7">
              <div class="container-fluid">
                <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <div ngbDropdown class=" download">
                <button class="btn btn-default" id="dropdownBasic1" ngbDropdownToggle>Download </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
                  <button class="dropdown-item">480 X 320</button>
                  <button class="dropdown-item">1366 X 768</button>
                  <button class="dropdown-item">
                    <a [href]="imglink" download>Original</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">

    </div>
  </div>
  <br>
  <hr>
  <p class="click-to-view">Click on the image to view</p>
  <br>
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <div *ngFor="let paper of wallpaper">
        <img class="img-fluid thumbnail" src="{{paper.src}}" alt="image" (click)="show(paper.src)">
      </div>
    </div>
    <div class="col-sm-3">

    </div>
  </div>
  <br>
</div>
