.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.4;
}

.step.active {
  opacity: 1;
}

input {
  background-color: #555759;
  border: none;
  color: lightgrey;
  &:focus {
    background-color: grey;
    color: lightgrey;
    outline: none;
  }
}
button {
    float: right;
}
label {
  color: grey;
}
